{%extends 'layouts/base.html'%}
{%block content%}
<section class="faq bg-primary">
      <div class="container">
        <div class="faq-title">
          <p>Frequently asked questions</p>
        </div>
        <ul class="faq-list">
          <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
            <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false">How can I accept credit cards online?? <i class="fa fa-arrow-up"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list" style="">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq2" class="collapsed">What methods of shipping can I offer?? <i class="fa fa-arrow-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq3" class="collapsed">HOW DO I ACTIVATE MY ACCOUNT?? <i class="fa fa-arrow-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                The instructions to activate your account will be sent to your email once you have submitted the 
                registration form. If you did not receive this email, your email service provider’s mailing software 
                may be blocking it. You can try checking your junk / spam folder or contact us at contact@tuzowe.co.ke
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq4" class="collapsed">WHAT ARE THE PAYMENT METHODS AVAILABLE? <i class="fa fa-arrow-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                At the moment, we only accept Credit/Debit cards, Mpesa ,Paypal and Cash payments.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq5" class="collapsed">WHAT HAPPENS IF THERE'S BEEN A DELIVERY MISHAP TO MY ORDER? (DAMAGED OR LOST DELIVERY)? <i class="fa fa-arrow-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                We take such matters very seriously and will look into individual cases thoroughly. Any 
                sample that falls under the below categories should not be thrown away before taking photo proof 
                and emailing the photo of the affected sample and your D.O (Delivery Order) to us at contact@tuzowe.co.ke (if applicable).
              </p>
              
              <p>
              1. In the event that the sample you've received is unsatisfactory in any way you perceive, we will require photo proof of the sample and your D.O (Delivery Order) as well and you may be required to send us back the sample for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability. The postage cost will be credited back to your account after we receive the returned item.
 </p>
<p>
2. In the event that you receive an expired product, we will require clear photo proof of the sample and its expiry date for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability.
 </p>
<p>
3. In the event that you've received the wrong sample, we will require photo proof of the wrongly sent sample and D.O (Delivery Order) and after reviewing, we'll re-send the correct sample to you at no cost, subject to availability.
  </p>           </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
            <a data-toggle="collapse" href="#faq6" class="collapsed">HOW LONG WILL IT TAKE FOR MY ORDER TO ARRIVE AFTER I MAKE PAYMENT?? <i class="fa fa-arrow-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                Members who ship their orders within Bungoma should expect to receive their orders within one (1) to two (2) working days upon payment verification depending on the volume of orders received.

If you experience delays in receiving your order, contact us immediately and we will help to confirm the status of your order.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

{%endblock content%}